@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Montserra, sans-serif;
}

body {
    scroll-behavior: smooth !important;
}

.br-\[50\%\] {
    border-radius: 50%;
}

.banan {
    border: 2px solid #fff;
}

.shadow-one  {
    box-shadow: 30px 0px 200px 3px rgba(34, 60, 80, 0.2);
}

.shadow-two {
    box-shadow: -30px 0px 200px 0px rgba(34, 60, 80, 0.2);
}